html {
  background-color: black;
  background: url("./src/public/akatsuki-background.jpg") repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* @media screen and (min-width: 950px) {
  body {
    color: blue;
  }
  #S-tier {
    color: red;
  }
} */

body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

p {
  font-size: 1rem;
  margin: auto;
  padding: 0px 0px 10px 8px;
  font-family: "Source Code Pro", monospace;
}

input {
  font-size: 1rem;
  text-align: center;
}

input[type="text"] {
  border: 1px solid rgb(17 17 19);
  border-bottom: 2px solid #333;
}

img {
  height: 77px;
  width: 90px;
}

.main {
  width: auto;
  display: flex;
  flex-direction: column;
}

.loader {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 100px;
  height: 100px;
  background: url("./src/public/uzumaki.svg");
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  width: 39.5%;
  display: grid;
  grid-template-columns: 20% 80%;
  color: #000;
  padding: 20px 0px 40px;
  margin-left: 5rem;
  margin-right: 5rem;
}

.container-tierlist {
  display: flex;
  flex-direction: row;
  height: auto;
  background-color: rgb(17 17 19);
  border-bottom: 2px solid #333;
  align-items: center;
  overflow: scroll;
}

.container-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  width: 82.5%;
  margin: 20px;
  border: 2px solid red;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.9);
}

.tiers {
  height: 7rem;
  width: auto;
}

.scroll-container {
  width: 45.5%;
  max-height: 580px;
  margin: 1.3rem 5rem 3rem 5rem;
  background-color: rgb(32 33 36);
  border: 1px solid rgb(111 113 115);
  border-radius: 10px;
}

.scroll-title {
  background-color: rgba(41, 42, 45, 1);
  color: white;
  text-align: center;
  padding: 0.5rem 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.scroll-content {
  max-height: 546px;
  overflow-y: auto;
}

#S-tier {
  background-color: #ff7f7f;
}

#A-tier {
  background-color: #ffbf7f;
}

#B-tier {
  background-color: #ffdf7f;
}

#C-tier {
  background-color: #ffff7f;
}

#D-tier {
  background-color: #bfff7f;
}

#S_tier-span {
  color: #ff7f7f;
}

#A_tier-span {
  color: #ffbf7f;
}

#B_tier-span {
  color: #ffdf7f;
}

#C_tier-span {
  color: #ffff7f;
}

#D_tier-span {
  color: #bfff7f;
}
