body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

.main {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
}
.container {
  /* height: 70%; */
  width: 65%;
  display: grid;
  grid-template-columns: 20% 80%;
  color: #000;
}

.container-tierlist {
  display: flex;
  flex-direction: row;
  height: auto;
  background-color: #000;
  border-bottom: 2px solid #333;
  padding: 4px 0px;
}

.container-options {
  margin: 2px 2px;
}

p {
  padding: 0px 16px;
  margin: 0px 8px;
}

input {
  font-size: 1rem;
  text-align: center;
}

.dumb-item {
  width: 50%;
}

.tiers {
  height: 7rem;
  width: auto;
}

#S {
  background-color: rgb(255, 127, 127);
}

#A {
  background-color: rgb(255, 191, 127);
}

#B {
  background-color: rgb(255, 223, 127);
}

#C {
  background-color: rgb(255, 255, 127);
}

#D {
  background-color: rgb(191, 255, 127);
}

#draggable {
  text-align: center;
  background: white;
}

.dropzone {
  width: 200px;
  height: 20px;
  background: blueviolet;
  margin: 10px;
  padding: 10px;
}
