body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  height: 100vh;
}

.container-tierlist {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 850px;
  background-color: green;
}

.container-options {
  display: flex;
}

p {
  padding: 0px 16px;
  margin: 0px 8px;
}
input {
  height: 20%;
  width: 20%;
}

#S {
  background-color: coral;
}
